*~
*.aux
cabal-dev/
cabal.project.local
/.cabal-sandbox/
.cabal-sandbox/
cabal.sandbox.config
*.chi
*.chs.h
/.dir-locals.el
dist-*
dist/
*.dyn_hi
*.dyn_o
*.eventlog
*_flymake.hs
*.hi
*.hp
.hpc
.hsenv
.HTF/
/.idea/
/*.iml
*.imports
*.o
*.prof
/_release/
/_site/
/src/highlight.js
/src/style.css
.stack-work/
*.swp
*.tag
tags
TAGS
.vagrant/
